body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1983 {
  position:absolute;
  left:53px;
  top:65px;
  width:329px;
  height:671px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1984 {
  position:absolute;
  left:2px;
  top:328px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1985 {
  position:absolute;
  left:166px;
  top:99px;
  width:10px;
  height:10px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1986 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1987 {
  position:absolute;
  left:187px;
  top:102px;
  width:61px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1988 {
  position:absolute;
  left:2px;
  top:-6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1989 {
  position:absolute;
  left:213px;
  top:80px;
  width:8px;
  height:8px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1990 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:3px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1991 {
  position:absolute;
  left:199px;
  top:736px;
  width:37px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1992 {
  position:absolute;
  left:2px;
  top:-6px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u1993 {
  position:absolute;
  left:191px;
  top:667px;
  width:53px;
  height:53px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1994 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1995 {
  position:absolute;
  left:51px;
  top:140px;
  width:5px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1996 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1997 {
  position:absolute;
  left:51px;
  top:187px;
  width:5px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1998 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1999 {
  position:absolute;
  left:51px;
  top:234px;
  width:5px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2000 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2001 {
  position:absolute;
  left:379px;
  top:186px;
  width:5px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2002 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:518px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2003 {
  position:absolute;
  left:72px;
  top:128px;
  width:291px;
  height:518px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2004 {
  position:absolute;
  left:2px;
  top:251px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:518px;
  background:inherit;
  background-color:rgba(54, 54, 54, 0.83921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2005 {
  position:absolute;
  left:72px;
  top:128px;
  width:291px;
  height:518px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:251px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:338px;
}
#u2007 {
  position:absolute;
  left:72px;
  top:210px;
  width:291px;
  height:338px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:161px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2009 {
  position:absolute;
  left:315px;
  top:614px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2011 {
  position:absolute;
  left:436px;
  top:132px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2013 {
  position:absolute;
  left:419px;
  top:132px;
  width:7px;
  height:22px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u2015 {
  position:absolute;
  left:419px;
  top:181px;
  width:371px;
  height:48px;
  line-height:24px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
