body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:701px;
}
#u1016 {
  position:absolute;
  left:136px;
  top:50px;
  width:347px;
  height:701px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1017 {
  position:absolute;
  left:2px;
  top:342px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:536px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  position:absolute;
  left:158px;
  top:133px;
  width:304px;
  height:536px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:260px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:543px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
}
#u1020 {
  position:absolute;
  left:528px;
  top:126px;
  width:324px;
  height:543px;
  font-family:'微软雅黑';
  font-style:normal;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u1022 {
  position:absolute;
  left:158px;
  top:134px;
}
#u1022_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:304px;
  height:535px;
  background-image:none;
}
#u1022_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:44px;
  width:304px;
  height:491px;
}
#u1024_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:491px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1026 {
  position:absolute;
  left:1px;
  top:0px;
  width:303px;
  height:44px;
  font-size:16px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1028 {
  position:absolute;
  left:269px;
  top:11px;
  width:22px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1029 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1030 {
  position:absolute;
  left:11px;
  top:8px;
  width:27px;
  height:27px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:44px;
  width:200px;
  height:2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1033 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034 {
  position:absolute;
  left:90px;
  top:201px;
}
#u1034_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:127px;
  height:136px;
  background-image:none;
}
#u1034_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1035 {
  position:absolute;
  left:0px;
  top:74px;
  width:127px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(81, 81, 81, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u1037 {
  position:absolute;
  left:19px;
  top:104px;
  width:84px;
  height:32px;
  color:#797979;
}
#u1038 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:59px;
}
#u1039 {
  position:absolute;
  left:29px;
  top:6px;
  width:66px;
  height:58px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:21px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  position:absolute;
  left:528px;
  top:204px;
  width:91px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:701px;
}
#u1042 {
  position:absolute;
  left:136px;
  top:795px;
  width:347px;
  height:701px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1043 {
  position:absolute;
  left:2px;
  top:342px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:536px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:158px;
  top:878px;
  width:304px;
  height:536px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:260px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1047 {
  position:absolute;
  left:158px;
  top:923px;
  width:304px;
  height:491px;
}
#u1047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:491px;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1048 {
  position:absolute;
  left:159px;
  top:879px;
  width:303px;
  height:44px;
  font-size:16px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:14px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1050 {
  position:absolute;
  left:427px;
  top:890px;
  width:22px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1051 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1052 {
  position:absolute;
  left:169px;
  top:887px;
  width:27px;
  height:27px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u1054 {
  position:absolute;
  left:158px;
  top:923px;
  width:200px;
  height:2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1055 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:701px;
}
#u1056 {
  position:absolute;
  left:526px;
  top:796px;
  width:347px;
  height:701px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1057 {
  position:absolute;
  left:2px;
  top:342px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:536px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1058 {
  position:absolute;
  left:548px;
  top:879px;
  width:304px;
  height:536px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:260px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1061 {
  position:absolute;
  left:548px;
  top:924px;
  width:304px;
  height:491px;
}
#u1061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:491px;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1062 {
  position:absolute;
  left:549px;
  top:880px;
  width:303px;
  height:44px;
  font-size:16px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1064 {
  position:absolute;
  left:817px;
  top:891px;
  width:22px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1065 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1066 {
  position:absolute;
  left:559px;
  top:888px;
  width:27px;
  height:27px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1068 {
  position:absolute;
  left:638px;
  top:1155px;
  width:127px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(81, 81, 81, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u1070 {
  position:absolute;
  left:657px;
  top:1185px;
  width:84px;
  height:32px;
  color:#797979;
}
#u1071 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:701px;
}
#u1072 {
  position:absolute;
  left:906px;
  top:797px;
  width:347px;
  height:701px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1073 {
  position:absolute;
  left:2px;
  top:342px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:536px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  position:absolute;
  left:928px;
  top:880px;
  width:304px;
  height:536px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:260px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1077 {
  position:absolute;
  left:928px;
  top:925px;
  width:304px;
  height:491px;
}
#u1077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:491px;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1078 {
  position:absolute;
  left:929px;
  top:881px;
  width:303px;
  height:44px;
  font-size:16px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1080 {
  position:absolute;
  left:1197px;
  top:892px;
  width:22px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1081 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1082 {
  position:absolute;
  left:939px;
  top:889px;
  width:27px;
  height:27px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:59px;
}
#u1084 {
  position:absolute;
  left:669px;
  top:1088px;
  width:66px;
  height:58px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:21px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:701px;
}
#u1086 {
  position:absolute;
  left:1302px;
  top:797px;
  width:347px;
  height:701px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1087 {
  position:absolute;
  left:2px;
  top:342px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:536px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:1324px;
  top:880px;
  width:304px;
  height:536px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:260px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1091 {
  position:absolute;
  left:1324px;
  top:960px;
  width:304px;
  height:456px;
}
#u1091_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:456px;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1092 {
  position:absolute;
  left:1325px;
  top:881px;
  width:303px;
  height:44px;
  font-size:16px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1094 {
  position:absolute;
  left:1593px;
  top:892px;
  width:22px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1095 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1096 {
  position:absolute;
  left:1335px;
  top:889px;
  width:27px;
  height:27px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u1098 {
  position:absolute;
  left:1421px;
  top:930px;
  width:108px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u1100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1100 {
  position:absolute;
  left:268px;
  top:1107px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1101 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:701px;
}
#u1102 {
  position:absolute;
  left:527px;
  top:1536px;
  width:347px;
  height:701px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1103 {
  position:absolute;
  left:2px;
  top:342px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:536px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1104 {
  position:absolute;
  left:549px;
  top:1619px;
  width:304px;
  height:536px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:260px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1107 {
  position:absolute;
  left:549px;
  top:1664px;
  width:304px;
  height:491px;
}
#u1107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:491px;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1108 {
  position:absolute;
  left:550px;
  top:1620px;
  width:303px;
  height:44px;
  font-size:16px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1110 {
  position:absolute;
  left:818px;
  top:1631px;
  width:22px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1111 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1112 {
  position:absolute;
  left:560px;
  top:1628px;
  width:27px;
  height:27px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1114 {
  position:absolute;
  left:667px;
  top:1895px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1115 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:59px;
}
#u1116 {
  position:absolute;
  left:670px;
  top:1828px;
  width:66px;
  height:58px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:21px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
