body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2064 {
  position:absolute;
  left:65px;
  top:827px;
  width:329px;
  height:671px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2065 {
  position:absolute;
  left:2px;
  top:328px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2066 {
  position:absolute;
  left:178px;
  top:861px;
  width:10px;
  height:10px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2067 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2068 {
  position:absolute;
  left:199px;
  top:864px;
  width:61px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2069 {
  position:absolute;
  left:2px;
  top:-6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u2070 {
  position:absolute;
  left:225px;
  top:842px;
  width:8px;
  height:8px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2071 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:3px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2072 {
  position:absolute;
  left:211px;
  top:1496px;
  width:37px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2073 {
  position:absolute;
  left:2px;
  top:-6px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u2074 {
  position:absolute;
  left:203px;
  top:1427px;
  width:53px;
  height:53px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2075 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2076 {
  position:absolute;
  left:63px;
  top:901px;
  width:5px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2077 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2078 {
  position:absolute;
  left:63px;
  top:948px;
  width:5px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2079 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2080 {
  position:absolute;
  left:63px;
  top:995px;
  width:5px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2081 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2082 {
  position:absolute;
  left:391px;
  top:947px;
  width:5px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2083 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:518px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2084 {
  position:absolute;
  left:83px;
  top:897px;
  width:291px;
  height:518px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2085 {
  position:absolute;
  left:2px;
  top:251px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2088 {
  position:absolute;
  left:65px;
  top:56px;
  width:329px;
  height:671px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2089 {
  position:absolute;
  left:2px;
  top:328px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2090 {
  position:absolute;
  left:178px;
  top:90px;
  width:10px;
  height:10px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2091 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2092 {
  position:absolute;
  left:199px;
  top:93px;
  width:61px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2093 {
  position:absolute;
  left:2px;
  top:-6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u2094 {
  position:absolute;
  left:225px;
  top:71px;
  width:8px;
  height:8px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2095 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:3px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2096 {
  position:absolute;
  left:211px;
  top:725px;
  width:37px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2097 {
  position:absolute;
  left:2px;
  top:-6px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u2098 {
  position:absolute;
  left:203px;
  top:656px;
  width:53px;
  height:53px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2099 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2100 {
  position:absolute;
  left:63px;
  top:130px;
  width:5px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2101 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2102 {
  position:absolute;
  left:63px;
  top:177px;
  width:5px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2103 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2104 {
  position:absolute;
  left:63px;
  top:224px;
  width:5px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2105 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2106 {
  position:absolute;
  left:391px;
  top:176px;
  width:5px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2107 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:518px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2108 {
  position:absolute;
  left:83px;
  top:126px;
  width:291px;
  height:518px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2109 {
  position:absolute;
  left:2px;
  top:251px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2111 {
  position:absolute;
  left:103px;
  top:186px;
  width:57px;
  height:57px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#A1A1A1;
}
#u2113 {
  position:absolute;
  left:109px;
  top:224px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#A1A1A1;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2116 {
  position:absolute;
  left:112px;
  top:196px;
  width:30px;
  height:24px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2118 {
  position:absolute;
  left:141px;
  top:199px;
  width:10px;
  height:18px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2120 {
  position:absolute;
  left:103px;
  top:153px;
  width:57px;
  height:16px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2122 {
  position:absolute;
  left:103px;
  top:282px;
  width:57px;
  height:16px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:103px;
  top:316px;
  width:57px;
  height:57px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#A1A1A1;
}
#u2127 {
  position:absolute;
  left:119px;
  top:355px;
  width:28px;
  height:14px;
  font-size:11px;
  color:#A1A1A1;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2129 {
  position:absolute;
  left:119px;
  top:325px;
  width:26px;
  height:26px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:142px;
}
#u2132 {
  position:absolute;
  left:103px;
  top:409px;
  width:254px;
  height:142px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:63px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 54, 54, 0.737254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2134 {
  position:absolute;
  left:103px;
  top:521px;
  width:254px;
  height:30px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:7px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:2px;
}
#u2136 {
  position:absolute;
  left:141px;
  top:536px;
  width:175px;
  height:1px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:-8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2138 {
  position:absolute;
  left:141px;
  top:532px;
  width:10px;
  height:10px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2140 {
  position:absolute;
  left:326px;
  top:530px;
  width:28px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2142 {
  position:absolute;
  left:205px;
  top:445px;
  width:55px;
  height:55px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2144 {
  position:absolute;
  left:107px;
  top:530px;
  width:28px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:2px;
}
#u2146 {
  position:absolute;
  left:141px;
  top:1394px;
  width:175px;
  height:1px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:-8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2148 {
  position:absolute;
  left:141px;
  top:1390px;
  width:10px;
  height:10px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2150 {
  position:absolute;
  left:326px;
  top:1388px;
  width:28px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2152 {
  position:absolute;
  left:107px;
  top:1388px;
  width:28px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2154 {
  position:absolute;
  left:436px;
  top:132px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2156 {
  position:absolute;
  left:419px;
  top:132px;
  width:7px;
  height:22px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u2158 {
  position:absolute;
  left:419px;
  top:181px;
  width:371px;
  height:168px;
  line-height:24px;
}
#u2159 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:170px;
}
#u2160 {
  position:absolute;
  left:84px;
  top:1071px;
  width:291px;
  height:170px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:77px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2162 {
  position:absolute;
  left:203px;
  top:777px;
  width:36px;
  height:16px;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2164 {
  position:absolute;
  left:436px;
  top:924px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2166 {
  position:absolute;
  left:419px;
  top:924px;
  width:7px;
  height:22px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u2168 {
  position:absolute;
  left:419px;
  top:973px;
  width:371px;
  height:72px;
  line-height:24px;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u2170 {
  position:absolute;
  left:103px;
  top:913px;
  width:9px;
  height:17px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2172 {
  position:absolute;
  left:328px;
  top:914px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
