body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3838 {
  position:absolute;
  left:107px;
  top:59px;
  width:329px;
  height:671px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3839 {
  position:absolute;
  left:2px;
  top:328px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3840 {
  position:absolute;
  left:220px;
  top:93px;
  width:10px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3841 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3842 {
  position:absolute;
  left:241px;
  top:96px;
  width:61px;
  height:5px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3843 {
  position:absolute;
  left:2px;
  top:-6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3844 {
  position:absolute;
  left:267px;
  top:74px;
  width:8px;
  height:8px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3845 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:3px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3846 {
  position:absolute;
  left:253px;
  top:728px;
  width:37px;
  height:3px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3847 {
  position:absolute;
  left:2px;
  top:-6px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u3848 {
  position:absolute;
  left:245px;
  top:659px;
  width:53px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3849 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3850 {
  position:absolute;
  left:105px;
  top:133px;
  width:5px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3851 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3852 {
  position:absolute;
  left:105px;
  top:180px;
  width:5px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3853 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3854 {
  position:absolute;
  left:105px;
  top:227px;
  width:5px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3855 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3856 {
  position:absolute;
  left:433px;
  top:179px;
  width:5px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3857 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:518px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3858 {
  position:absolute;
  left:125px;
  top:129px;
  width:291px;
  height:518px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3859 {
  position:absolute;
  left:2px;
  top:251px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:416px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3860 {
  position:absolute;
  left:133px;
  top:199px;
  width:278px;
  height:416px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3861 {
  position:absolute;
  left:2px;
  top:200px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3862 {
  position:absolute;
  left:136px;
  top:156px;
  width:36px;
  height:36px;
}
#u3863 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3864 {
  position:absolute;
  left:375px;
  top:156px;
  width:36px;
  height:36px;
}
#u3865 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u3866 {
  position:absolute;
  left:144px;
  top:167px;
  width:21px;
  height:17px;
}
#u3867 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u3868 {
  position:absolute;
  left:385px;
  top:165px;
  width:17px;
  height:19px;
}
#u3869 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u3870 {
  position:absolute;
  left:136px;
  top:620px;
  width:22px;
  height:20px;
}
#u3871 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:22px;
}
#u3872 {
  position:absolute;
  left:126px;
  top:129px;
  width:290px;
  height:22px;
}
#u3873 {
  position:absolute;
  left:2px;
  top:3px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3874 {
  position:absolute;
  left:225px;
  top:162px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3875 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:2px;
}
#u3876 {
  position:absolute;
  left:133px;
  top:242px;
  width:275px;
  height:1px;
}
#u3877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3878 {
  position:absolute;
  left:141px;
  top:223px;
  width:65px;
  height:16px;
  color:#000000;
}
#u3879 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0000FF;
}
#u3880 {
  position:absolute;
  left:144px;
  top:209px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#0000FF;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:2px;
}
#u3883 {
  position:absolute;
  left:133px;
  top:290px;
  width:275px;
  height:1px;
}
#u3884 {
  position:absolute;
  left:2px;
  top:-8px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3885 {
  position:absolute;
  left:141px;
  top:271px;
  width:71px;
  height:16px;
  color:#000000;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0000FF;
}
#u3887 {
  position:absolute;
  left:144px;
  top:257px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#0000FF;
}
#u3888 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u3889 {
  position:absolute;
  left:388px;
  top:261px;
  width:11px;
  height:19px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:2px;
}
#u3892 {
  position:absolute;
  left:133px;
  top:334px;
  width:275px;
  height:1px;
}
#u3893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3894 {
  position:absolute;
  left:141px;
  top:315px;
  width:71px;
  height:16px;
  color:#000000;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0000FF;
}
#u3896 {
  position:absolute;
  left:144px;
  top:301px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#0000FF;
}
#u3897 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u3898 {
  position:absolute;
  left:388px;
  top:305px;
  width:11px;
  height:19px;
}
#u3899 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:2px;
}
#u3901 {
  position:absolute;
  left:133px;
  top:381px;
  width:275px;
  height:1px;
}
#u3902 {
  position:absolute;
  left:2px;
  top:-8px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3903 {
  position:absolute;
  left:141px;
  top:362px;
  width:99px;
  height:16px;
  color:#000000;
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0000FF;
}
#u3905 {
  position:absolute;
  left:144px;
  top:348px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#0000FF;
}
#u3906 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u3907 {
  position:absolute;
  left:388px;
  top:352px;
  width:11px;
  height:19px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:2px;
}
#u3910 {
  position:absolute;
  left:133px;
  top:480px;
  width:275px;
  height:1px;
}
#u3911 {
  position:absolute;
  left:2px;
  top:-8px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3912 {
  position:absolute;
  left:141px;
  top:461px;
  width:75px;
  height:16px;
  color:#000000;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u3914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0000FF;
}
#u3914 {
  position:absolute;
  left:144px;
  top:447px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#0000FF;
}
#u3915 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u3916 {
  position:absolute;
  left:388px;
  top:451px;
  width:11px;
  height:19px;
}
#u3917 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:2px;
}
#u3919 {
  position:absolute;
  left:133px;
  top:524px;
  width:275px;
  height:1px;
}
#u3920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3921 {
  position:absolute;
  left:141px;
  top:505px;
  width:75px;
  height:16px;
  color:#000000;
}
#u3922 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u3923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0000FF;
}
#u3923 {
  position:absolute;
  left:144px;
  top:491px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#0000FF;
}
#u3924 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u3925 {
  position:absolute;
  left:388px;
  top:495px;
  width:11px;
  height:19px;
}
#u3926 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3927 {
  position:absolute;
  left:133px;
  top:570px;
  width:275px;
  height:40px;
}
#u3928 {
  position:absolute;
  left:2px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u3929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:518px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3929 {
  position:absolute;
  left:125px;
  top:129px;
  width:290px;
  height:518px;
}
#u3930 {
  position:absolute;
  left:2px;
  top:251px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3932 {
  position:absolute;
  left:125px;
  top:451px;
  width:290px;
  height:196px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:90px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:2px;
}
#u3934 {
  position:absolute;
  left:131px;
  top:550px;
  width:276px;
  height:1px;
}
#u3935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:2px;
}
#u3936 {
  position:absolute;
  left:131px;
  top:588px;
  width:276px;
  height:1px;
}
#u3937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3939 {
  position:absolute;
  left:177px;
  top:559px;
  width:18px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3940 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u3941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3941 {
  position:absolute;
  left:179px;
  top:524px;
  width:17px;
  height:16px;
  color:#999999;
}
#u3942 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3943 {
  position:absolute;
  left:179px;
  top:599px;
  width:17px;
  height:16px;
  color:#999999;
}
#u3944 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3945 {
  position:absolute;
  left:181px;
  top:502px;
  width:15px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3947 {
  position:absolute;
  left:181px;
  top:621px;
  width:15px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3949 {
  position:absolute;
  left:126px;
  top:452px;
  width:288px;
  height:37px;
}
#u3950 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3951 {
  position:absolute;
  left:131px;
  top:460px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3953 {
  position:absolute;
  left:369px;
  top:456px;
  width:41px;
  height:29px;
}
#u3954 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  word-wrap:break-word;
}
#u3955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3956 {
  position:absolute;
  left:306px;
  top:558px;
  width:19px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3957 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u3958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3958 {
  position:absolute;
  left:308px;
  top:523px;
  width:17px;
  height:16px;
  color:#999999;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3960 {
  position:absolute;
  left:308px;
  top:598px;
  width:17px;
  height:16px;
  color:#999999;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3962 {
  position:absolute;
  left:310px;
  top:501px;
  width:15px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3964 {
  position:absolute;
  left:310px;
  top:620px;
  width:15px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3966 {
  position:absolute;
  left:231px;
  top:558px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3968 {
  position:absolute;
  left:355px;
  top:558px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3970 {
  position:absolute;
  left:238px;
  top:455px;
  width:52px;
  height:29px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u3972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:51px;
}
#u3972 {
  position:absolute;
  left:537px;
  top:382px;
  width:230px;
  height:51px;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u3973 {
  position:absolute;
  left:2px;
  top:2px;
  width:226px;
  word-wrap:break-word;
}
#u3974 {
  position:absolute;
  left:537px;
  top:408px;
  width:0px;
  height:0px;
}
#u3974_seg0 {
  position:absolute;
  left:-277px;
  top:-4px;
  width:277px;
  height:8px;
}
#u3974_seg1 {
  position:absolute;
  left:-277px;
  top:-4px;
  width:8px;
  height:51px;
}
#u3974_seg2 {
  position:absolute;
  left:-26px;
  top:-20px;
  width:40px;
  height:40px;
}
#u3974_seg3 {
  position:absolute;
  left:-293px;
  top:21px;
  width:40px;
  height:40px;
}
#u3975 {
  position:absolute;
  left:-210px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
